.hidden{
    display: none !important;
}
body {
    background: #3cb2d0;
}
.main{
    display: flex;
    flex-wrap: wrap;

}
    

.header{
    width: 100%;
    
}

h1,h2,h3,h4,h5,h6 {
    color: #111;
}
.carte{

    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center flex-start;
    
    flex-shrink: 0;

    
    
}
.display-carte{
    
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
   

}
.svg-carte{
    padding-left: 15%;
   

}
.footer{
    width: 100%;
    height: 5%;
    align-self: flex-end;
    
}
.info-carte{
    width: 50%;
    height: 70%;
    
}
.info-stand{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    background-color: #9dbcd4;
}
.info-base{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    background-color: #9dbcd4;
}
.info-text{
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
    text-align: justify;
}
.info-img {
    max-width: 70%;
    max-height: 70%;
}

@media (max-width: 700px){
    .carte{
    
        width: 100%;
        background-color: grey; 
    }
    
    .info-carte{
        width: 100%;
        background-color: red; 
    }


}